.settings{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.buttonContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}
.header{
    padding: 0 20px;
    position: relative;
}
.back{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}