{% extends 'base.html' %}
{% block title %}Заявки на продаж{% endblock %}
<!-- пропозиції продажу SaleOffers -->
{% block content %}

<div class="top-nav">
  <a href="{{ url_for('incoming_notifications') }}" class="filter-button"><img src="../static/images/notification_button.png"></a>
  {% if role == 'purchase_offers' %}
    <button id="openRolesModal" class="nav-button">Продавець</button>
  {% elif role == 'sale_offers' %}
    <button id="openRolesModal" class="nav-button">Покупець</button>
  {% else %}
    <button id="openRolesModal" class="nav-button">Орендатор</button>
  {% endif %}
  <a href="{{ url_for('settings') }}" class="filter-button"><img src="../static/images/profile_button.png"></a>
</div>

<div class="selections">
  <p class="current_selection">Список оголошень</p>
  <a href="{{ url_for('create_offer') }}" class="nav-button">Створити</a>
  <a href="{{ url_for('my_offers') }}" class="nav-button">Мої</a>
</div>

<div class="bottom_nav">
  {% if user.is_purchase %}
    <a href="#" class="bottom_nav-button active"> <!-- {{ url_for('purchase_offers') }} -->
      <!-- <span class="icon">
        <img src="{{ url_for('static', filename='images/purchase_icon.png') }}" alt="піктограмма покупки" />
      </span>-->
      Закупівля
    </a>
  {% endif %}
  {% if user.is_sale %}
  <a href="{{ url_for('sale_offers') }}" class="bottom_nav-button not-active">
      <!-- Иконку можно вставить через <img> или икон-шрифт -->
      <!-- <span class="icon">
        <img src="{{ url_for('static', filename='images/purchase_icon.png') }}" alt="піктограмма покупки" />
      </span>-->
      Продаж
    </a>
  {% endif %}
  {% if user.is_rental %}
    <a href="{{ url_for('rental_offers') }}" class="bottom_nav-button not-active">
      <!-- <span class="icon">
        <img src="{{ url_for('static', filename='images/rental_icon.png') }}" alt="піктограмма оренди" />
      </span>-->
      Оренда
    </a>
  {% endif %}
</div>

<div class="offers-list">

  <button id="openFilterModal" class="open-filter-btn">
    <span class="circle-icon"></span>
    <span class="btn-text">Фільтри</span>
  </button>

  {% for offer in purchase_offers %}
  <div class="offer-card">
  <!-- Левая часть: аватар, имя, регион -->
  <div class="offer-left">
    <img
      src="{{ url_for('static', filename='images/default-avatar.png') }}"
      alt="Avatar"
      class="offer-avatar"
    >
    <div class="offer-user-info">
      <p class="offer-user-name">{{ offer.user.first_name }} {{ offer.user.last_name }}</p>
      <p class="offer-region">
        {{ offer.region.oblast }}
        {% if offer.region.district %} - {{ offer.region.district }}{% endif %}
      </p>
    </div>
  </div>
  <!-- Центральная часть: описание предложения -->
  <div class="offer-center">
    <p class="offer-title">Куплю: {{ offer.commodity_type }}</p>
    <p class="offer-tonnage">Тонаж: {{ offer.tonnage }}</p>
    <!-- <p class="offer-additional">
      {{ offer.additional_info or '—' }}
    </p> -->
    <!-- <p class="offer-date">
      <small>Створено: {{ offer.created_at.strftime("%d.%m.%Y %H:%M") }}</small><br>
      <small>Оновлено: {{ offer.updated_at.strftime("%d.%m.%Y %H:%M") }}</small>
    </p> -->
  </div>

  <!-- Правая часть: фон, кнопка "+" и цена -->
  <div class="offer-right">
    <p class="offer-price" >
      {{ offer.price_per_ton }} <span class="offer-currency">грн/т</span>
    </p>
  </div>
    <button
      class="create-notification-btn"
      data-offer-id="{{ offer.id }}"
      data-offer-type="purchase"
    >+</button>
</div>
  {% else %}
  <p>Немає пропозицій купівлі</p>
  {% endfor %}
</div>

<div id="notificationModal" class="modal-overlay">
  <div class="modal-content">
    <span id="modalClose" class="modal-close">&times;</span>
    <h2>Створити сповіщення</h2>
    <p>Створюючи сповіщення, ви відгукуєтесь на пропозицію та маєте можливість запропонувати нову ціну або кількість.</p>
    <form id="notificationForm">
      <div class="form-group">
        <label for="comment">Введіть коментар:</label>
        <textarea id="comment" name="comment" rows="3" placeholder="Залиште повідомлення"></textarea>
      </div>
      <div class="form-group">
        <label for="overwrite_sum">Запропонувати нову ціну (опціонально):</label>
        <input type="number" step="0.01" id="overwrite_sum" name="overwrite_sum">
      </div>
      <div class="form-group">
        <label for="overwrite_amount">Запропонувати нову кількість (опціонально):</label>
        <input type="number" step="0.01" id="overwrite_amount" name="overwrite_amount">
      </div>
      <input type="hidden" id="offer_id" name="offer_id">
      <input type="hidden" id="offer_type" name="offer_type">
    </form>
    <button id="saveNotification" class="common_button_form_alt">Відправити</button>
  </div>
</div>

<div id="rolesModal" class="modal-overlay" style="display: none;">
  <div class="modal-content">
    <!-- Кнопка закрытия окна -->
    <button
      type="button"
      id="closeRolesModal"
      class="modal-close"
      aria-label="Close"
    >
      &times;
    </button>
    <h2 class="modal-title">Зміна ролі</h2>
    <form id="rolesForm">
      {% if user.is_sale %}
      <div class="role-item">
        <label for="role_sale" class="role-label">
          <input
            type="radio"
            id="role_sale"
            name="role"
            value="sale"
          />
          <span class="role-text">Покупець</span>
        </label>
        <div class="role-notification">
          <i class="fas fa-bell"></i>
          <span class="notif-badge" id="purchaseAmount">0</span>
        </div>
      </div>
      {% endif %}
      {% if user.is_purchase %}
      <div class="role-item">
        <label for="role_purchase" class="role-label">
          <input
            type="radio"
            id="role_purchase"
            name="role"
            value="purchase"
          />
          <span class="role-text">Продавець</span>
        </label>
        <div class="role-notification">
          <i class="fas fa-bell"></i>
          <span class="notif-badge" id="saleAmount">0</span>
        </div>
      </div>
      {% endif %}
      {% if user.is_rental %}
      <div class="role-item">
        <label for="role_rental" class="role-label">
          <input
            type="radio"
            id="role_rental"
            name="role"
            value="rental"
          />
          <span class="role-text">Орендатор</span>
        </label>
        <div class="role-notification">
          <i class="fas fa-bell"></i>
          <span class="notif-badge" id="rentalAmount">0</span>
        </div>
      </div>
      {% endif %}
    </form>
    <p class="modal-description">Ви можете замінити свою роль</p>
    <div class="modal-buttons">
      <button type="button" id="saveRoles" class="modal-btn save-btn ">
        Зберегти
      </button>
    </div>
  </div>
</div>

<div id="filterModal" class="filter-modal-overlay" style="display: none;">
  <div class="filter-modal-content">
    <button type="button" id="closeFilterModal" class="filter-modal-close" aria-label="Close">
      &times;
    </button>

    <h2 class="filter-modal-title">Фільтри</h2>

    <form id="filterForm">
      <!-- Фильтр по цене (без слайдера) -->
      <div class="filter-group">
        <label for="priceMin" class="filter-label">Ціна</label>
        <div class="filter-price-range">
          <input type="number" id="priceMin" name="priceMin" class="filter-input" placeholder="від">
          <input type="number" id="priceMax" name="priceMax" class="filter-input" placeholder="до">
        </div>
      </div>

      <!-- Фильтр по ПІБ -->
      <div class="filter-group">
        <label for="fio" class="filter-label">ПІБ</label>
        <input type="text" id="fio" name="fio" class="filter-input" placeholder="Введіть...">
      </div>

      <div class="filter-group">
        <label for="cultureType" class="filter-label">Тип культури</label>
        <input  id="cultureType" name="cultureType" class="filter-input">
        <!-- <select id="cultureType" name="cultureType" class="filter-select">
          <option value="">Oберіть</option>
          <option value="Wheat">Пшениця</option>
          <option value="Corn">Кукурудза</option>
        </select> -->
      </div>

      <!-- Фильтр по області -->
      <div class="filter-group">
        <label for="region" class="filter-label">Область</label>
        <select id="region" name="region" class="filter-select">
          <option value="">Oберіть</option>
          {% for region in regions %}
            <option value="{{ region.id }}">{{ region.oblast }} - {{ region.district }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Кнопки действий -->
      <div class="filter-modal-actions">
        <button type="button" id="applyFilters" class="filter-btn apply-btn">Застосувати</button>
        <button type="button" id="resetFilters" class="filter-btn reset-btn">Скинути</button>
      </div>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='sale_offers.js') }}"></script>
<script src="{{ url_for('static', filename='update_roles.js') }}"></script>
<script src="{{ url_for('static', filename='filter_modal_purchase.js') }}"></script>
{% endblock %}
