{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">
    <label>Номер телефона:</label><br>
    <input type="text" name="phone" required><br><br>

    <label>Имя:</label><br>
    <input type="text" name="first_name" value="{{ telegram_first_name }}" required><br><br>

    <label>Фамилия:</label><br>
    <input type="text" name="last_name" value="{{ telegram_last_name }}"><br><br>

    <label>Регион:</label><br>
    <select name="region" required>
        {% for region in regions %}
            <option value="{{ region.id }}">
                {{ region.oblast }}{% if region.district %} - {{ region.district }}{% endif %}
            </option>
        {% endfor %}
    </select><br><br>

    <label>Выберите роли:</label><br>
    <input type="checkbox" name="is_sale" value="1"> Продажник<br>
    <input type="checkbox" name="is_purchase" value="1"> Закупщик<br>
    <input type="checkbox" name="is_rental" value="1"> Арендатор<br><br>

    <button type="submit">Завершити реєстрацію</button>
</form>
{% endblock %}
