{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<!--
<h2 style="text-align: center; margin: 10px 0;">Реєстрація</h2>
<div class="offer-create-page">
    <form method="post">
        <label>Номер телефону:</label><br>
        <input type="text" name="phone" required><br><br>

        <label>Ім'я:</label><br>
        <input type="text" name="first_name" value="{{ telegram_first_name }}" required><br><br>

        <label>Прізвище:</label><br>
        <input type="text" name="last_name" value="{{ telegram_last_name }}"><br><br>

        <label>Регіон:</label><br>
        <select name="region" required>
            {% for region in regions %}
                <option value="{{ region.id }}">
                    {{ region.oblast }}{% if region.district %} - {{ region.district }}{% endif %}
                </option>
            {% endfor %}
        </select><br><br>

        <p>Оберіть ролі:</p>
        <p>
        <input type="checkbox" name="is_sale" value="1" id="role-1">
        <label for="role-1">Продавець</label>
        </p><p>
        <input type="checkbox" name="is_purchase" value="1" id="role-2">
        <label for="role-2">Покупець</label>
        </p><p>
        <input type="checkbox" name="is_rental" value="1" id="role-3">
        <label for="role-3">Орендатор/Орендодавець</label>
        </p>
        <button type="submit" class="common_button_form">Завершити реєстрацію</button>
    </form>
</div>
-->
<div class="settings-page">

    <!-- Заголовок / шапка страницы -->
    <header class="settings-header">
      <h2 class="settings-title">Реєстрація</h2>
    </header>

    <form method="POST">
      <div class="form-group">
        <label for="first_name" class="form-label">Ім’я</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          id="first_name"
          value="{{ telegram_first_name }}"
          placeholder="Введіть..."
          required
        >
      </div>

      <div class="form-group">
        <label for="last_name" class="form-label">Прізвище</label>
        <input
          type="text"
          class="form-control"
          name="last_name"
          id="last_name"
          value="{{ telegram_last_name }}"
          placeholder="Введіть..."
        >
      </div>

      <div class="form-group">
        <label for="phone" class="form-label">Номер телефону</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          id="phone"
          placeholder="Введіть..."
          required
        >
      </div>

      <div class="form-group">
        <label for="region_id" class="form-label">Область</label>
        <select
          name="region"
          id="region_id"
          class="form-control"
        >
          {% for region in regions %}
            <option
              value="{{ region.id }}"
            >
              {{ region.oblast }} - {{ region.district }}
            </option>
          {% endfor %}
        </select>
      </div>

      <!-- Роли -->
      <div class="role-group">
        <div class="role-option">
          <input
            type="checkbox"
            class="form-checkbox"
            name="is_sale"
            id="is_sale"
            value="1"
          >
          <label for="is_sale">Продавець</label>
        </div>

        <div class="role-option">
          <input
            type="checkbox"
            class="form-checkbox"
            name="is_purchase"
            id="is_purchase"
            value="1"
          >
          <label for="is_purchase">Закупник</label>
        </div>

        <div class="role-option">
          <input
            type="checkbox"
            class="form-checkbox"
            name="is_rental"
            id="is_rental"
            value="1"
          >
          <label for="is_rental">Орендодавець</label>
        </div>
        <p class="role-label">Оберіть свою роль</p>
      </div>

      <center><button type="submit" class="btn btn-primary save-btn">
        Завершити реєстрацію
      </button></center>
    </form>
  </div>
{% endblock %}
