.links{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--secondary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.linkIcon{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid var(--secondary-color)
}